html {
	height:100%; 
}

body { 
	width:100%;
	height:100%; 
	// font-family:'Source Sans Pro', Helvetica, sans-serif; 
}

header, section {
	min-height: 100vh;
	&:nth-child(odd) {
		background-color: $body-bg;
	}
}

header.hero, section.herobg {
	background-color: transparent;
	position:relative;
	picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
		opacity: 0.4;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
    }	
}